.content-container {
    background-color: #D1E8E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-container {
    background-color: #F3FAEF;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    width: 60%;
    height: fit-content;
}

.signin-container form {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    /* grid-template-columns: 2;
    grid-template-rows: 4; */
}
form:first-of-type {
    margin-top: 2rem;
}

form div {
    height: 50px;
}

#textarea-div{
    height: 100px;
}

.signin-container h2 {
    color: #223554;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"], select
{
    font-size:1.1rem;
}

.signin-container input, .signin-container select{
    width: 300px;
    height: 30px;
    font-weight: 500;
    font-family: 'Roboto Slab', sans-serif;
    padding-left: 0.5rem;
}

textarea {
    resize: none;
    width: 300px;
}

#textarea-div{
    height: 100px;
}

.signin-container label {
    min-width: 120px;
    display: inline-block;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 10px;
}

.signin-container .submit {
    height: 50px;
    width: 250px;
    border-radius: 40px;
    background-color: #517B9A ;
    border-width: 0;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    /* margin: 0 auto ; */
}

.signin-container .submit:hover {
    background-color: #223554;
    cursor: pointer;
}

.createaccount {
    text-align: center;
}

.button-wrapper button {
    margin: 0;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#logout {
    padding: 0;
    height: 50px;
    width: 130px;
}

@media screen and (max-width: 800px) {
    .signin-container input, .signin-container select{
        width: 180px;
        height: 30px;
        font-weight: 500;
        font-family: 'Roboto Slab', sans-serif;
        padding-left: 0.5rem;
    }

    textarea {
        width: 180px;
    }

    .signin-container label {
        min-width: 70px;
        display: inline-block;
        text-align: right;
        font-size: 1.1rem;
        font-weight: 500;
        margin-right: 10px;
    }

    .signin-container {
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 40px;
        width: calc(60% + 4rem);
        height: fit-content;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        margin: 0 1rem;
        text-align: center;
        font-size: 0.8rem;
        
    }

    .signin-container .submit {
        height: 50px;
        width: 210px;
        border-radius: 40px;
        background-color: #517B9A ;
        border-width: 0;
        color: #FFF;
        font-size: 1rem;
        font-weight: 600;
        /* margin: 0 auto ; */
    }

    #logout {
        padding: 0;
        height: 50px;
        width: 130px;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}