.content-container {
    background-color: #D1E8E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-container {
    background-color: #F3FAEF;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    width: 60%;
    height:50vh;
}


.details-container tr {
    height: 40px;
}

.details-container h2 {
    color: #223554;
}

table {
    font-size: 1.1rem;
}

td {
    /* width: 150px; */
    width: 180px;
    height: 30px;
    font-weight: 400;
    font-family: 'Roboto Slab', sans-serif;
    padding-left: 0.5rem;
}

th {
    min-width: 150px;
    /* display: inline-block; */
    text-align: right;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 10px;
    height:30px;
}

.signin-container .submit {
    height: 50px;
    width: 250px;
    border-radius: 40px;
    background-color: #517B9A ;
    border-width: 0;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    /* margin: 0 auto ; */
}

.button-wrapper button {
    margin: 0;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.signin-container .submit:hover {
    background-color: #223554;
    cursor: pointer;
}

.createaccount {
    text-align: center;
}

@media screen and (max-width: 1000px) {

    .details-container {
        background-color: #F3FAEF;
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 40px;
        width: calc(60% + 4rem);
        height:50vh;
    }

    .details-container td {
        /* width: 150px; */
        width: 240px;
        min-width: 0;
        height: 30px;
        font-weight: 400;
        font-family: 'Roboto Slab', sans-serif;
        padding-left: 0.2rem;
    }
    
    .details-container th {
        /* width: 240px; */
        min-width: 80px;
        /* display: inline-block; */
        text-align: right;
        font-size: 1.1rem;
        font-weight: 600;
        margin-right: 10px;
        height:30px;
    }

    table {
        width: fit-content;

    }

    p{
        font-size: 1rem;
        text-align: center;
    }
}