.content-container {
    background-color: #D1E8E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.signin-container {
    margin: 2rem 0rem; /* how to adjust the height of the 'create account form' to make it nicer?*/
    background-color: #F3FAEF;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    width: 60%;
    height:fit-content;
}

.signin-container form {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;

}

footer {
    position: static;
    margin-bottom: 1.5rem;
}

table {
    width: fit-content;
    margin: 1rem 0 2rem 0;
}

.validation_guide {
    padding-top: 5px;
    padding-left: 98px;
    /* font-weight: bold; */
    font-style: italic;
    color: #FF0000;
}
/* td:nth-child(2) {
    text-align: left; /* Align the content in the second column to the left */
    /* width: 100px; */
/* } */ 


form div {
    height: 50px;
    /* display: flex; */
    /* flex-direction: row; */
}

.signin-container h2 {
    color: #223554;
    margin-bottom: 1rem;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select
{
    font-size:1.1rem;
}

.signin-container input, .signin-container select {
    width: 300px;
    height: 30px;
    font-weight: 500;
    font-family: 'Roboto Slab', sans-serif;
    padding-left: 0.5rem;
}

.signin-container label {
    min-width: 200px;
    display: inline-block;
    /* text-align: right; */
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 10px;
}

tr td label {
    width: fit-content;
    min-width: 0 !important;
    margin: 0 1rem;
}

.password-wrapper {
    position: relative;
}

#hidden-1 {
    height: 1rem;
    position: absolute;
    right: 0.7rem;
    top: 7px;
    display: block;
    cursor: pointer;
}

#visible-1 {
    height: 1rem;
    display: none;
    position: absolute;
    right: 0.7rem;
    top: 7px;
    cursor: pointer;
}

#hidden-2 {
    height: 1rem;
    position: absolute;
    right: 0.7rem;
    top: 7px;
    display: block;
    cursor: pointer;
}

#visible-2 {
    height: 1rem;
    display: none;
    position: absolute;
    right: 0.7rem;
    top: 7px;
    cursor: pointer;
}

.signin-container .submit {
    height: 50px;
    width: 250px;
    border-radius: 40px;
    background-color: #517B9A ;
    border-width: 0;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    /* margin: 0 auto ; */
}

.signin-container .submit:hover {
    background-color: #223554;
    cursor: pointer;
}

.createaccount {
    text-align: center;
}


input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
}

/* Styling for checked checkboxes */
input[type="checkbox"] + label::before {
    content: '❌'; /* Red cross by default */
    color: red;
}



/* Styling for checked checkboxes */
input[type="checkbox"]:checked + label::before {
    content: '✅'; /* Green checkmark for fulfilled requirements */
    color: white;
}



input[type="checkbox"]#rule5 + label::before {
    content: '✅'; /* Green checkmark for fulfilled requirements */
    color: white;
}

/* Styling for the checked checkboxes (spaces detected) */
input[type="checkbox"]#rule5:checked + label::before {
    content: '❌'; /* Red cross for unfulfilled requirements */
    color: red;
}

input[type="checkbox"]#consistent + label::before {
    content: '✅'; /* Green checkmark for fulfilled requirements */
    color: white;
}

/* Styling for the checked checkboxes (spaces detected) */
input[type="checkbox"]#consistent:checked + label::before {
    content: '❌'; /* Red cross for unfulfilled requirements */
    color: red;
}


@media screen and (max-width: 1000px) {
    .signin-container input, .signin-container select {
        width: 180px;
        height: 30px;
        font-weight: 500;
        font-family: 'Roboto Slab', sans-serif;
        padding-left: 0.1rem;
    }

    .signin-container label {
        min-width: 130px;
        display: inline-block;
        /* text-align: right; */
        font-size: 1rem;
        font-weight: 500;
        margin-right: 10px;
    }
    
    .signin-container {
        margin: 2rem 0rem; /* how to adjust the height of the 'create account form' to make it nicer?*/
        background-color: #F3FAEF;
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 40px;
        width: fit-content;
        height:fit-content;
    }
}

