.dentists-container img {
    height: 180px;
    width: 180px;
}

.dentist {
    width: 340px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px 20px;
    gap: 0.5rem;
}

.dentists-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3FAEF;
}

.title {
    color: #223554;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h3 {
    font-size: 1.5rem;
}

h5 {
    display: none;
}

button {
    margin-bottom: 2rem;
}

p {
    text-align: justify;
    /* width: 95%; */
}

#mobile-footer {
    display: none;
    margin: 1rem 0;
}

@media screen and (max-width: 1200px) {
    .dentists-container {
        flex-direction: column;
    }

    .content-container {
        justify-content: baseline;
        height:fit-content;
    }

    #desktop-footer {
        display: none;
    }

    #mobile-footer {
        display: block;
        position: static;
    }

    .dentist {
        margin-bottom:2rem;
        margin-top: 1rem;
    }

}