@media screen and (max-width: 1000px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
        flex: 1;
    }

    .logo {
        padding-left:24px;
        font-size:2rem;
        line-height: 1.9rem;
        text-align: center;
        flex: 20;
        transform: translateX(20px);
    }

    .image-container img, .image-container, .image-container:after{
        display: none;
    }

    .about-container {
        width: 100vw;
        gap:1rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    button {
        margin-top: 4px;
        margin-bottom:20px;
    }

    table {
        font-size: 0.9rem;
        width: 480px;
    }
}
