.content-container {
    background-color: #D1E8E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-container {
    background-color: #F3FAEF;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    width: 60%;
    height:50vh;
}

.signin-container form {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;

}

.signin-container h2 {
    color: #223554;
}


input[type="text"], input[type="password"], input[type="email"], select
{
    font-size:1.1rem;
}

.signin-container input, .signin-container select {
    width: 300px;
    height: 30px;
    font-weight: 400;
    font-family: 'Roboto Slab', sans-serif;
    padding-left: 0.5rem;
}

.signin-container label {
    min-width: 100px;
    display: inline-block;
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 10px;
    /* padding-left: 3rem; */
}

#password-wrapper {
    position: relative;
}

#hidden {
    height: 1rem;
    position: absolute;
    right: 0.7rem;
    top: 7px;
    display: block;
    cursor: pointer;
}

#visible {
    height: 1rem;
    display: none;
    position: absolute;
    right: 0.7rem;
    top: 7px;
    cursor: pointer;
}

.signin-container .submit {
    height: 50px;
    width: 200px;
    border-radius: 40px;
    background-color: #517B9A ;
    border-width: 0;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    /* margin: 0 auto ; */
}

.signin-container .submit:hover {
    background-color: #223554;
    cursor: pointer;
}

.createaccount {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .signin-container input, .signin-container select {
        width: 200px;
        height: 30px;
        font-weight: 400;
        font-family: 'Roboto Slab', sans-serif;
        padding-left: 0.5rem;
    }

    .signin-container {
        background-color: #F3FAEF;
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 40px;
        width: calc(60% + 4rem);
        height:50vh;
    }
}